{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
</head>
<div class="container">

            <h1>Welcome to Bacoto's Hobby Shop</h1>
            <hr>


        <section>
            <h2>About Us</h2>
            <p>
                At Bacoto's Hobby Shop, we're dedicated to fueling your adrenaline-fueled passion for action and adventure.
                Specializing in airsoft and gel blasters, we're your go-to destination for high-quality gear, accessories,
                and a community of like-minded enthusiasts.
            </p>
        </section>
<hr>
        <section>
            <h2>Our Story</h2>
            <p>
                Bacoto's Hobby Shop was born from a love for intense, thrilling hobbies. Founded by avid airsoft and gel blaster enthusiasts,
                our shop aims to provide the best equipment and expertise to fellow enthusiasts. Established in 2023, we've been committed
                to elevating your gameplay experience ever since.
            </p>
        </section>
<hr>
        <section>
            <h2>Our Mission</h2>
            <p>
                Our mission is simple: to be the ultimate one-stop shop for all your airsoft and gel blaster needs. We strive to offer
                top-of-the-line products, expert advice, and a welcoming space where enthusiasts can come together to share their passion.
            </p>
        </section>
    </div>
{% endblock %}