{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bacoto's Hobby Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
  <link rel="icon" type="images/x-icon" href="{% static 'images/logo.ico' %}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyK8MytkNfEElBbo4Xbf1uF04e0pR4N2tE" crossorigin="anonymous">
</head>
<body>
  <header>
    {% include 'pages/navbar.html' %}
  </header>


  <div class="video-container">
  <video autoplay muted loop id="video-background" class="resizable-video">
    <source src="{% static 'video/video2.mp4' %}" type="video/mp4" id="video-source">
    Your browser does not support the video tag.
  </video>
  </div>



  {% block content %}

  {% endblock %}





<footer>
    {% include 'pages/footer.html' %}
  </footer>




</body>
</html>