{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'index.html' %}">
                <img alt="logo" width="50" height="50" class="d-inline-block align-text-top"
                    src="{% static 'images/C.png' %}">
                <span class="ms-2" style="font-size: 24px;">Bacoto's Hobby Shop</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between pe-5" id="navbarNavDropdown">
                <div class="justify-content-start">
                    <ul class="navbar-nav">
                        <!-- Move the navbar-nav items here -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'index.html' %}" style="font-size: 18px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'aboutus.html' %}" style="font-size: 18px;">About
                                Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/login" style="font-size: 18px;">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'contactus.html' %}" style="font-size: 18px;">Contact Us</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'create_customer' %}" style="font-size: 18px;">Order Now</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="font-size: 18px;">
                                Products
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Gel Blaster</a></li>
                                <li><a class="dropdown-item" href="#">Airsoft</a></li>
                                <li><a class="dropdown-item" href="#">Accessories</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
